# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [3]:
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 22.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 3.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 70.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 kB 4.2 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [5]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [6]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'MariaRivera'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [7]:
if not database_exists(engine.url):
    create_database(engine.url)

In [8]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine, if_exists="append")

-1

In [9]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
266,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
267,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
268,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
269,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [10]:
#Rellena la variable query con tu consulta
query = """ SELECT LaunchSite FROM  SPACEXTBL  """
df  = pd.read_sql(query, con = engine )
df

       LaunchSite
0    CCSFS SLC 40
1    CCSFS SLC 40
2    CCSFS SLC 40
3     VAFB SLC 4E
4    CCSFS SLC 40
..            ...
265    KSC LC 39A
266    KSC LC 39A
267    KSC LC 39A
268  CCSFS SLC 40
269  CCSFS SLC 40

[270 rows x 1 columns]

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [11]:
query = " SELECT * FROM  SPACEXTBL WHERE LaunchSite LIKE 'CCS%' LIMIT 5"
df = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

Warning: Total number of columns (22) exceeds max_columns (20) limiting to first (20) columns.

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [21]:
query = " SELECT SUM(PayloadMass), Payload FROM  SPACEXTBL WHERE Payload LIKE 'CRS%'"
df = pd.read_sql(query, con = engine )
df

   SUM(PayloadMass) Payload
0          141284.1   CRS-2

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [24]:
query = " SELECT AVG(PayloadMass), Serial FROM  SPACEXTBL WHERE Serial LIKE 'B1%'"
df = pd.read_sql(query, con = engine )
df

   AVG(PayloadMass) Serial
0       6250.502765  B1003

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [40]:
query = " SELECT MIN(Date), LandingOutcome, class FROM  SPACEXTBL WHERE LandingOutcome LIKE '%RTLS'"
df = pd.read_sql(query, con = engine )
df

    MIN(Date) LandingOutcome  class
0  2015-12-22      True RTLS      1

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [51]:
query = " SELECT Serial, LandingOutcome, PayLoadMass  FROM SPACEXTBL WHERE LandingOutcome LIKE 'TRUE ASDS' AND PayLoadMass >4000 AND PayLoadMass<6000 "
df = pd.read_sql(query, con = engine )
df

   Serial LandingOutcome  PayLoadMass
0   B1022      True ASDS       4696.0
1   B1026      True ASDS       4600.0
2   B1021      True ASDS       5300.0
3   B1031      True ASDS       5200.0
4   B1046      True ASDS       5800.0
5   B1059      True ASDS       5000.0
6   B1022      True ASDS       4696.0
7   B1026      True ASDS       4600.0
8   B1021      True ASDS       5300.0
9   B1031      True ASDS       5200.0
10  B1046      True ASDS       5800.0
11  B1059      True ASDS       5000.0
12  B1022      True ASDS       4696.0
13  B1026      True ASDS       4600.0
14  B1021      True ASDS       5300.0
15  B1031      True ASDS       5200.0
16  B1046      True ASDS       5800.0
17  B1059      True ASDS       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [55]:
query = " SELECT COUNT(class) FROM  SPACEXTBL GROUP BY class"
df = pd.read_sql(query, con = engine )
df

   COUNT(class)
0            90
1           180

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [56]:
query = " SELECT Serial, MAX(PayLoadMass) FROM  SPACEXTBL"
df = pd.read_sql(query, con = engine )
df

  Serial  MAX(PayLoadMass)
0  B0003           15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [63]:
query = " SELECT Date, class ,Serial, LaunchSite  FROM  SPACEXTBL WHERE EXTRACT(YEAR FROM Date) = 2015 AND class = 0"
df = pd.read_sql(query, con = engine )
df

          Date  class Serial    LaunchSite
0   2015-01-10      0  B1012  CCSFS SLC 40
1   2015-04-14      0  B1015  CCSFS SLC 40
2   2015-04-27      0  B1016  CCSFS SLC 40
3   2015-06-28      0  B1018  CCSFS SLC 40
4   2015-01-10      0  B1012  CCSFS SLC 40
5   2015-04-14      0  B1015  CCSFS SLC 40
6   2015-04-27      0  B1016  CCSFS SLC 40
7   2015-06-28      0  B1018  CCSFS SLC 40
8   2015-01-10      0  B1012  CCSFS SLC 40
9   2015-04-14      0  B1015  CCSFS SLC 40
10  2015-04-27      0  B1016  CCSFS SLC 40
11  2015-06-28      0  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [72]:
query = " SELECT LandingOutcome,  COUNT(LandingOutcome) FROM  SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LandingOutcome"
df = pd.read_sql(query, con = engine )
df

  LandingOutcome  COUNT(LandingOutcome)
0     False ASDS                     12
1    False Ocean                      6
2      None ASDS                      6
3      None None                     27
4      True ASDS                     15
5     True Ocean                      9
6      True RTLS                      9